@charset "ISO-8859-1";

body{
	background-color: rgba(50,115,220,0.3);
	font-family: Arial;
}	



ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width: 200px
}
li a{
	display: block;
	width:500 px;
}

img {
	width: 540px;
	height: auto;
}
form{
	font-family:Arial;
}

/*#Top{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 5px;
	z-index:99;
	cursor: pointer;
	padding:15px;
	border-radius:10px;
}
*/
input[type="text"] {
  width: 300px;
  height: 300px;
}

footer{
	font-size:0.5em;
}

#LMp{
	line-height:200%;
}

#LEp{
	line-height:200%;
}

#CostComparison{
	font-size:2em;
}

/*#source{
	font-size:0.8em;
}
*/
table {
	border:1px solid black;
	background: rgb(3,136,252);
}
td{
	border:1px solid black;	
}
th{
	border: 1px solid black;
}

#colspan{
	font-size:0.8em;
	text-align: center;
}
#TableHeaders{
	font-size:1.2em;
}
#AnnualTotal{
	background-color:rgb(252,169,3)
}

#COp{
	font-size:4em;
}

#Betsy{
	position:relative;
	width:500px;
	height:auto;
}
